# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

#############################
# Include Individual Configs 
#############################
#[include klipper-configs/*.cfg]
#[include klipper-macros/*.cfg]
[include klipper-configs/bltouch.cfg]
[include klipper-configs/stepper_motors.cfg]
[include klipper-macros/macros.cfg]
#[include klipper-macros/mainsail.cfg]
[include klipper-macros/menu.cfg]
[include klipper-macros/menu_octoprint.cfg]
[include klipper-macros/menu_preheat.cfg]
#[include klipper-macros/shell_command.cfg] uncomment for dslr timelapse
#[include klipper-macros/timelapse_macros.cfg] #uncomment for dslr timelapse
######################################################################
# PRINTER CONFIGURATION SECTION
######################################################################

#=====================================================
# PRINTER LIMITS
#=====================================================
[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 500
#max_accel_to_decel: 600 # Deprecated
max_z_velocity: 10
max_z_accel: 100
square_corner_velocity: 5.0

#=====================================================
# MCU ID
#=====================================================
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFDA054252303707701857-if00
# serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
# Get value via ssh; then use command: ls /dev/serial/by-id

#=====================================================
# MCU OUTPUT
#=====================================================
[static_digital_output usb_pullup_enable]
pins: !PA14

#=======================
# Display Board Pins
#======================
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#=====================================================
# DISPLAY SETUP
#=====================================================
[display]
lcd_type: emulated_st7920
en_pin: EXP1_7
spi_software_sclk_pin: EXP1_6
spi_software_mosi_pin: EXP1_8
spi_software_miso_pin: PA3
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

#=====================================================
# RESPOND
#=====================================================
# This adds the 'respond' G-Code that you can use to send commands back to OctoPrint
[respond]
default_type: echo

#=====================================================
# VIRTUAL SD CARD
#=====================================================
# add virtual sd card
[virtual_sdcard]
path: ~/klipper-data/gcode_files # UPDATE THIS FOR YOUR PATH!!!

#=====================================================
# SAVE VARIABLES
#=====================================================
[save_variables]
filename: ~/klipper-data/config/variables.cfg # UPDATE THIS FOR YOUR PATH!!

#=====================================================
# BED HEATER
#=====================================================
[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B5760G104F # Creality bed thermistor
sensor_pin: PC3
min_temp: 5
Max_temp: 130
control: pid
pid_Kp: 493.62
pid_Ki: 94.74
pid_Kd: 1714.672

#=====================================================
# Controller FAN
#=====================================================
[heater_fan controller_fan]
pin: PB15
heater: heater_bed
heater_temp: 45.0

#=====================================================
# Heatbreak FAN
#=====================================================
[heater_fan nozzle_cooling_fan]
pin: PC7

#=====================================================
# Parts Cooling FAN
#=====================================================
[fan]
pin: PC6

#=====================================================
# RASPI TEMP
#=====================================================
[temperature_sensor raspberry_pi]
sensor_type: temperature_host

#=====================================================
# CONTROLLER TEMP
#=====================================================
[temperature_sensor SKR_Mini_E3_v2]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

=====================================================
# GCODE ARCS
#=====================================================
[gcode_arcs]
resolution: 0.2
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

#=====================================================
# SKEW CORRECTION
#=====================================================
[skew_correction]

#=====================================================
# IDLE TIMEOUT
#=====================================================
[idle_timeout]
gcode:
  {% if printer.webhooks.state|lower == 'ready' %}
    {% if printer.pause_resume.is_paused|lower == 'false' %}
      M117 Idle timeout reached
      TURN_OFF_HEATERS
      M84
    {% endif %}
  {% endif %}
# 2 hour timeout
timeout: 7200


#=====================================================
# FIRMWARE RETRACTION
#=====================================================
[firmware_retraction]
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_length: 1
#   The speed of retraction, in mm/s. The default is 20 mm/s.
retract_speed: 40
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_extra_length: 0
#   The speed of unretraction, in mm/s. The default is 10 mm/s.
unretract_speed: 25

#=====================================================
# FILAMENT RUNOUT
#=====================================================
[filament_switch_sensor e0_sensor]
pause_on_runout: True
runout_gcode:
   M600 ; pause macro
switch_pin: pc15
	
	
# Uncomment the sections below if Fluidd complains (because it's confused).
#
#[gcode_macro CANCEL_PRINT]
#rename_existing: CANCEL_PRINT_BASE
#gcode: CANCEL_PRINT_BASE{% for k in params %}{' '~k~'='~params[k]}{% endfor %}


####################################
## MACROS
####################################
# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

[gcode_macro _km_options]
# These are examples of some likely customizations:

# Any sheets in the below list will be available with a configurable offset.
#variable_bed_surfaces: ['smooth_1','texture_1']

# Length (in mm) of filament to load (bowden tubes will be longer).
variable_load_length: 50.0

# Length of filament (in millimeters) to purge at print start.
variable_start_purge_length: 30 # This value works for most setups.

gcode: # This line is required by Klipper.

# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
#  ADJUST_SURFACE_OFFSETS

# Uncomment to include features that require specific hardware support.

# LCD menu support for features like bed surface selection and pause next layer.
#[include klipper-macros/optional/lcd_menus.cfg]

# Optimized bed leveling
#[include klipper-macros/optional/bed_mesh.cfg]


